
.login_background {
  width: 100vw;
  height: 81vh;
  background-image: url('../public/sanimalBackground.JPG');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 600px) or (max-height: 670px) {
  .login_background {
    height: 87vh;
  }
}

@media (max-height: 540px) {
  .login_background {
    height: 78vh;
  }
}

.blink {
  animation: blinker 1s ease-in infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

